.div{
    font-size: larger;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3px;
    align-items: center;
    border: 2px solid;
}
body{
    background-color: rgb(48, 175, 175);
}