body{background-color: aquamarine;
 margin-left: 400px;}

.p{
    word-spacing: 20px;
    color: blue;
}
.icon{
    border-radius: 50%;
    height: 30px;
}
nav{
    background-color: orangered;
    height: 40px;
    width: 50cm;
    word-spacing: 80px;
}