body{background-color: aquamarine;
 }

.p{
    word-spacing: 20px;
    color: blue;
}
.icon{
    border-radius: 50%;
    height: 30px;
}
nav{
    background-color: orangered;
    height: 50px;
    width: 500px;
    word-spacing: 20px;
}
.container {
    width: 500px; 
    height: 800px; 
    background-color:rgb(35, 231, 205);
    margin-left:10cm ;
    text-align: center;
  }
.bar{
    margin-right: none;
}  
